---
whiskers:
  version: "2.0.0"
  matrix:
    - flavor
    - accent
  filename: "{{flavor.identifier}}/{{accent}}.ini"
---
[General]
uiColor=#{{flavor.colors["surface0"].hex}}
contrastUiColor=#{{flavor.colors[accent].hex}}
userColors=picker{% for _, color in flavor.colors %}{% if color.accent %}, #{{color.hex}}{% endif %}{% endfor %}
